@import "../assets/sass/variables";

header{
    width: 100%;
		background: $primary;
		display: flex;
		justify-content: center;
		.container{
			max-width: 1440px;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			img{
				width: 100%;
				max-width: 240px; 
				padding:  5.48px;
			}
		}
}


footer{
	width: 100%;
	.line-footer{
		background: $primary;
		height: 3px;
		border: solid 7px  $primary;
		margin-bottom: 117px;
	}
	p{
		background: $footer-bg;
		width: 100%;
		padding: 34px 0;
		font-family: Roboto;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: $light-text;
	}
}

.search-box{
	width: 385px;
	height: 54px;
	background: $border-line-input;
	padding-bottom: 3px;
	border-radius: 5px;
	margin: 16px 0 36px 0;
}

form{
	input{
		width: 385px;
		height: 51px;
		border-radius: 3px;
		background: $light-bg;
		border: 0 none;
		outline: none;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: $light-text;
	}
}

.filter{
	display: flex;
	align-items: center;
	margin-left: 38px;
	margin-top: 30px;
	display: flex;
	height: 30px;
	cursor: pointer;
	span{
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color:$light-text;
		margin: 0 10px;
	}
	svg{
		font-size: 36px;
		color:$border-item;
	}
}

.pagination-box{
	display: flex;
	align-items: center;
	margin: 50px 0 20px 0;
	display: flex;
	width: 100%;
	justify-content: center;
	font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
	color: $border-item;
	.selected{
		cursor: pointer;
		border-bottom: 2px solid $border-line-input;
		padding:6px 16px;
		border-radius: 5px;
		color: $light-text;
		&:hover{
			transition: 0.7s;
			border-bottom: solid 2px $primary;
			color: $primary;
		}
	}
	.left{
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-right: 8px;
		font-size: 24px;
		padding: 8px 0;
		border-radius: 3px 0  0 3px;
		border: solid 1px$border-item;
		background-color:$light-bg;
		color: $light-text;
		&:hover{
			transition: 0.7s;
			border: solid 1px $primary;
			color: $primary;
		}
	}
	.right{
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-left: 8px;
		font-size: 24px;
		padding: 8px 0;
		border-radius: 0 3px 3px 0;
		border: solid 1px $border-item;
		background-color: $light-bg;
		color: $light-text;
		&:hover{
			transition: 0.7s;
			border: solid 1px $primary;
			color: $primary;
		}	
	}
	.disabled{
		transition: 0.7s;
		border: solid 1px $border-item !important;
		color:$border-item !important;
		cursor: not-allowed;
	}
}